/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Commons */
body {
    font-size: 10px;
}
.flex {
    display: flex;
}

/* Width */
.w-10 {
    width: 10%;
}
.w-80 {
    width: 80%;
}

/* Top section */
.top-section {
    height: 40px;
    justify-content: space-between;
    padding: 5px;
    background-color: #1a1a1a;
}
.top-left-section, .top-right-section {
    align-items: center;
    color: #fff;
}
.top-left-section .fa-shield-alt {
    background-color: #111212;
    color: #23d959;
    padding: 5px;
    border-radius: 5px;
}
.top-left-section > div,  .top-right-section{
    background-color: #111212;
    margin-left: 5px;
    padding: 10px;
    border-radius: 5px;
}
.top-left-section .fa-record-vinyl {
    color: red;
}
.top-right-section {
    background-color: #212122;
}

/* Main page */
main {
    height: calc(100vh - 90px);
    background-color: #1a1a1a;
}
main .w-80 {
    flex-wrap: wrap;
}
.person {
    position: relative;
    width: calc((100% - 36px) / 5);
    height: calc((100% - 36px) / 5);
    margin-right: 6px;
    margin-bottom: 6px;
    border-radius: 8px;
    overflow: hidden;
}
.person:nth-child(5n + 1) {
    margin-left: 6px;
}
.person:nth-child(1),
.person:nth-child(2),
.person:nth-child(3),
.person:nth-child(4),
.person:nth-child(5) {
    margin-top: 6px;
}
.person > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mister {
    border: 2px solid yellow;
}
.name {
    position: absolute;
    left: 5px;
    bottom: 5px;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.3);
    color: #fff;
}
.name > .fa-microphone-slash {
    color: red;
}
.name > .fa-microphone {
    color: rgb(0, 170, 0);
}

.change-page {
    margin: 0px 10px;
    align-self: center;
    background-color: black;
    color: #7e7e7e;
    padding: 30px 20px 5px 20px;
    text-align: center;
}
.change-page > i {
    font-size: 50px;
    padding-bottom: 10px;
}
.change-page-right {
    justify-content: flex-end;
}

/* Bottom section */
.bottom-section {
    height: 50px;
    background-color: #252729;
    justify-content: space-between;
    align-items: center;
    color: #aaabac;
    text-align: center;
}
.btn-classic {
    padding: 10px 15px;
    margin: 0px 5px;
    position: relative;
}
.btn-classic > i {
    font-size: 20px;
}
.arrow-up {
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 8px;
}
.number {
    position: absolute;
    right: 15px;
    top: 12px;
}
.share-screen {
    color: #23d959;
}
.right-sec button {
    border: none;
    background-color: #e02828;
    color: #fff;
    margin-right: 15px;
    padding: 10px 20px;
    border-radius: 10px;
}


/* Effetti hover */
.change-page:hover {
    background-color: rgba(71, 71, 71, 0.8);
    border: 1px solid black;
    color: #2db9ff;
}

